<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiYXN5bmNibHVldG9vdGgiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlsiaHR0
		cHM6XC9cL2dpdGh1Yi5jb21cL21hbm9sb2ZkZXpcL0FzeW5jQmx1ZXRvb3Ro
		Il19LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1aXJlbWVudCI6eyJyYW5n
		ZSI6W3sibG93ZXJCb3VuZCI6IjEuMy4wIiwidXBwZXJCb3VuZCI6IjIuMC4w
		In1dfX1dfSx7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5IjoicGxheWdy
		b3VuZHRlc3RlciIsImxvY2F0aW9uIjp7InJlbW90ZSI6WyJodHRwczpcL1wv
		Z2l0aHViLmNvbVwvTG9zaW93YXR5XC9QbGF5Z3JvdW5kVGVzdGVyLmdpdCJd
		fSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFuZ2Ui
		Olt7Imxvd2VyQm91bmQiOiIwLjMuMSIsInVwcGVyQm91bmQiOiIwLjQuMCJ9
		XX19XX1dLCJkaXNwbGF5TmFtZSI6IkRyb2lkS2l0IiwicGFja2FnZUtpbmQi
		Onsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltdLCJwbGF0
		Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTUuMiJ9XSwicHJvZHVjdHMi
		Olt7Im5hbWUiOiJEcm9pZEtpdCIsInNldHRpbmdzIjpbeyJkaXNwbGF5VmVy
		c2lvbiI6WyIxLjAiXX0seyJidW5kbGVWZXJzaW9uIjpbIjEiXX0seyJpT1NB
		cHBJbmZvIjpbeyJhY2NlbnRDb2xvciI6eyJwcmVzZXRDb2xvciI6eyJwcmVz
		ZXRDb2xvciI6eyJyYXdWYWx1ZSI6ImN5YW4ifX19LCJhcHBJY29uIjp7InBs
		YWNlaG9sZGVyIjp7Imljb24iOnsicmF3VmFsdWUiOiJwZW5jaWwifX19LCJj
		YXBhYmlsaXRpZXMiOlt7InB1cnBvc2UiOiJibHVldG9vdGhBbHdheXMiLCJw
		dXJwb3NlU3RyaW5nIjoiQWxsb3cgYmx1ZXRvb3RoIHBlcm1pc3Npb24ifV0s
		InN1cHBvcnRlZERldmljZUZhbWlsaWVzIjpbInBhZCIsInBob25lIl0sInN1
		cHBvcnRlZEludGVyZmFjZU9yaWVudGF0aW9ucyI6W3sicG9ydHJhaXQiOnt9
		fSx7ImxhbmRzY2FwZVJpZ2h0Ijp7fX0seyJsYW5kc2NhcGVMZWZ0Ijp7fX0s
		eyJwb3J0cmFpdFVwc2lkZURvd24iOnsiY29uZGl0aW9uIjp7ImRldmljZUZh
		bWlsaWVzIjpbInBhZCJdfX19XX1dfV0sInRhcmdldHMiOlsiQXBwTW9kdWxl
		Il0sInR5cGUiOnsiZXhlY3V0YWJsZSI6bnVsbH19XSwidGFyZ2V0TWFwIjp7
		IkFwcE1vZHVsZSI6eyJkZXBlbmRlbmNpZXMiOlt7InByb2R1Y3QiOlsiQXN5
		bmNCbHVldG9vdGgiLCJBc3luY0JsdWV0b290aCIsbnVsbF19LHsicHJvZHVj
		dCI6WyJQbGF5Z3JvdW5kVGVzdGVyIiwicGxheWdyb3VuZHRlc3RlciIsbnVs
		bF19XSwiZXhjbHVkZSI6WyJSRUFETUUubWQiLCJMSUNFTlNFIl0sIm5hbWUi
		OiJBcHBNb2R1bGUiLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W10sInNldHRp
		bmdzIjpbeyJjb25kaXRpb24iOnsiY29uZmlnIjoiZGVidWciLCJwbGF0Zm9y
		bU5hbWVzIjpbXX0sIm5hbWUiOiJ1bnNhZmVGbGFncyIsInRvb2wiOiJzd2lm
		dCIsInZhbHVlIjpbIi1YZnJvbnRlbmQiLCItd2Fybi1sb25nLWZ1bmN0aW9u
		LWJvZGllcz0yMDAiXX0seyJjb25kaXRpb24iOnsiY29uZmlnIjoiZGVidWci
		LCJwbGF0Zm9ybU5hbWVzIjpbXX0sIm5hbWUiOiJ1bnNhZmVGbGFncyIsInRv
		b2wiOiJzd2lmdCIsInZhbHVlIjpbIi1YZnJvbnRlbmQiLCItd2Fybi1sb25n
		LWV4cHJlc3Npb24tdHlwZS1jaGVja2luZz0yMDAiXX0seyJjb25kaXRpb24i
		OnsiY29uZmlnIjoiZGVidWciLCJwbGF0Zm9ybU5hbWVzIjpbXX0sIm5hbWUi
		OiJkZWZpbmUiLCJ0b29sIjoic3dpZnQiLCJ2YWx1ZSI6WyJURVNUSU5HX0VO
		QUJMRUQiXX1dLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9fSwidGFyZ2V0cyI6W3si
		ZGVwZW5kZW5jaWVzIjpbeyJwcm9kdWN0IjpbIkFzeW5jQmx1ZXRvb3RoIiwi
		QXN5bmNCbHVldG9vdGgiLG51bGxdfSx7InByb2R1Y3QiOlsiUGxheWdyb3Vu
		ZFRlc3RlciIsInBsYXlncm91bmR0ZXN0ZXIiLG51bGxdfV0sImV4Y2x1ZGUi
		OlsiUkVBRE1FLm1kIiwiTElDRU5TRSJdLCJuYW1lIjoiQXBwTW9kdWxlIiwi
		cGF0aCI6Ii4iLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W3siY29uZGl0
		aW9uIjp7ImNvbmZpZyI6ImRlYnVnIiwicGxhdGZvcm1OYW1lcyI6W119LCJu
		YW1lIjoidW5zYWZlRmxhZ3MiLCJ0b29sIjoic3dpZnQiLCJ2YWx1ZSI6WyIt
		WGZyb250ZW5kIiwiLXdhcm4tbG9uZy1mdW5jdGlvbi1ib2RpZXM9MjAwIl19
		LHsiY29uZGl0aW9uIjp7ImNvbmZpZyI6ImRlYnVnIiwicGxhdGZvcm1OYW1l
		cyI6W119LCJuYW1lIjoidW5zYWZlRmxhZ3MiLCJ0b29sIjoic3dpZnQiLCJ2
		YWx1ZSI6WyItWGZyb250ZW5kIiwiLXdhcm4tbG9uZy1leHByZXNzaW9uLXR5
		cGUtY2hlY2tpbmc9MjAwIl19LHsiY29uZGl0aW9uIjp7ImNvbmZpZyI6ImRl
		YnVnIiwicGxhdGZvcm1OYW1lcyI6W119LCJuYW1lIjoiZGVmaW5lIiwidG9v
		bCI6InN3aWZ0IiwidmFsdWUiOlsiVEVTVElOR19FTkFCTEVEIl19XSwidHlw
		ZSI6ImV4ZWN1dGFibGUifV0sInRvb2xzVmVyc2lvbiI6eyJfdmVyc2lvbiI6
		IjUuNi4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		iPBYbiMhgTrDwH6xWcQf5uP9F4Kvh1zguBHiMMw9omk=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.6.0-dev</string>
	</dict>
</dict>
</plist>
