<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiYXN5bmNibHVldG9vdGgiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlsiaHR0
		cHM6XC9cL2dpdGh1Yi5jb21cL21hbm9sb2ZkZXpcL0FzeW5jQmx1ZXRvb3Ro
		Il19LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1aXJlbWVudCI6eyJyYW5n
		ZSI6W3sibG93ZXJCb3VuZCI6IjEuMy4wIiwidXBwZXJCb3VuZCI6IjIuMC4w
		In1dfX1dfV0sImRpc3BsYXlOYW1lIjoiRHJvaWRLaXQiLCJwYWNrYWdlS2lu
		ZCI6eyJyb290Ijp7fX0sInBsYXRmb3JtcyI6W3sib3B0aW9ucyI6W10sInBs
		YXRmb3JtTmFtZSI6ImlvcyIsInZlcnNpb24iOiIxNS4yIn1dLCJwcm9kdWN0
		cyI6W3sibmFtZSI6IkRyb2lkS2l0Iiwic2V0dGluZ3MiOlt7ImRpc3BsYXlW
		ZXJzaW9uIjpbIjEuMCJdfSx7ImJ1bmRsZVZlcnNpb24iOlsiMSJdfSx7ImlP
		U0FwcEluZm8iOlt7ImFjY2VudENvbG9yIjp7InByZXNldENvbG9yIjp7InBy
		ZXNldENvbG9yIjp7InJhd1ZhbHVlIjoiY3lhbiJ9fX0sImFwcEljb24iOnsi
		cGxhY2Vob2xkZXIiOnsiaWNvbiI6eyJyYXdWYWx1ZSI6InBlbmNpbCJ9fX0s
		ImNhcGFiaWxpdGllcyI6W3sicHVycG9zZSI6ImJsdWV0b290aEFsd2F5cyIs
		InB1cnBvc2VTdHJpbmciOiJBbGxvdyBibHVldG9vdGggcGVybWlzc2lvbiJ9
		XSwic3VwcG9ydGVkRGV2aWNlRmFtaWxpZXMiOlsicGFkIiwicGhvbmUiXSwi
		c3VwcG9ydGVkSW50ZXJmYWNlT3JpZW50YXRpb25zIjpbeyJwb3J0cmFpdCI6
		e319LHsibGFuZHNjYXBlUmlnaHQiOnt9fSx7ImxhbmRzY2FwZUxlZnQiOnt9
		fSx7InBvcnRyYWl0VXBzaWRlRG93biI6eyJjb25kaXRpb24iOnsiZGV2aWNl
		RmFtaWxpZXMiOlsicGFkIl19fX1dfV19XSwidGFyZ2V0cyI6WyJBcHBNb2R1
		bGUiXSwidHlwZSI6eyJleGVjdXRhYmxlIjpudWxsfX1dLCJ0YXJnZXRNYXAi
		OnsiQXBwTW9kdWxlIjp7ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJB
		c3luY0JsdWV0b290aCIsIkFzeW5jQmx1ZXRvb3RoIixudWxsXX1dLCJleGNs
		dWRlIjpbIlJFQURNRS5tZCIsIkxJQ0VOU0UiXSwibmFtZSI6IkFwcE1vZHVs
		ZSIsInBhdGgiOiIuIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOltdLCJ0
		eXBlIjoiZXhlY3V0YWJsZSJ9fSwidGFyZ2V0cyI6W3siZGVwZW5kZW5jaWVz
		IjpbeyJwcm9kdWN0IjpbIkFzeW5jQmx1ZXRvb3RoIiwiQXN5bmNCbHVldG9v
		dGgiLG51bGxdfV0sImV4Y2x1ZGUiOlsiUkVBRE1FLm1kIiwiTElDRU5TRSJd
		LCJuYW1lIjoiQXBwTW9kdWxlIiwicGF0aCI6Ii4iLCJyZXNvdXJjZXMiOltd
		LCJzZXR0aW5ncyI6W10sInR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0b29sc1Zl
		cnNpb24iOnsiX3ZlcnNpb24iOiI1LjYuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		13XobdePIj/Bjd3/EJg8Pp/aKUjooRIrB0NalS/dX2E=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.6.0-dev</string>
	</dict>
</dict>
</plist>
