<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiYXN5bmNibHVldG9vdGgiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlsiaHR0
		cHM6XC9cL2dpdGh1Yi5jb21cL21hbm9sb2ZkZXpcL0FzeW5jQmx1ZXRvb3Ro
		Il19LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1aXJlbWVudCI6eyJyYW5n
		ZSI6W3sibG93ZXJCb3VuZCI6IjEuMy4wIiwidXBwZXJCb3VuZCI6IjIuMC4w
		In1dfX1dfV0sImRpc3BsYXlOYW1lIjoiRHJvaWRDb250cm9sbGVyIiwicGFj
		a2FnZUtpbmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMi
		OltdLCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTUuMiJ9XSwi
		cHJvZHVjdHMiOlt7Im5hbWUiOiJEcm9pZENvbnRyb2xsZXIiLCJzZXR0aW5n
		cyI6W3siYnVuZGxlSWRlbnRpZmllciI6WyJoY3JhbmUuZHJvaWQuY29udHJv
		bGxlciJdfSx7InRlYW1JZGVudGlmaWVyIjpbIlI4MldKNVczVFYiXX0seyJk
		aXNwbGF5VmVyc2lvbiI6WyIxLjAiXX0seyJidW5kbGVWZXJzaW9uIjpbIjEi
		XX0seyJpT1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xvciI6eyJwcmVzZXRDb2xv
		ciI6eyJwcmVzZXRDb2xvciI6eyJyYXdWYWx1ZSI6ImN5YW4ifX19LCJhcHBJ
		Y29uIjp7InBsYWNlaG9sZGVyIjp7Imljb24iOnsicmF3VmFsdWUiOiJwZW5j
		aWwifX19LCJjYXBhYmlsaXRpZXMiOlt7InB1cnBvc2UiOiJibHVldG9vdGhB
		bHdheXMiLCJwdXJwb3NlU3RyaW5nIjoiVW5rbm93biBVc2FnZSBEZXNjcmlw
		dGlvbiJ9XSwic3VwcG9ydGVkRGV2aWNlRmFtaWxpZXMiOlsicGFkIiwicGhv
		bmUiXSwic3VwcG9ydGVkSW50ZXJmYWNlT3JpZW50YXRpb25zIjpbeyJwb3J0
		cmFpdCI6e319LHsibGFuZHNjYXBlUmlnaHQiOnt9fSx7ImxhbmRzY2FwZUxl
		ZnQiOnt9fSx7InBvcnRyYWl0VXBzaWRlRG93biI6eyJjb25kaXRpb24iOnsi
		ZGV2aWNlRmFtaWxpZXMiOlsicGFkIl19fX1dfV19XSwidGFyZ2V0cyI6WyJB
		cHBNb2R1bGUiXSwidHlwZSI6eyJleGVjdXRhYmxlIjpudWxsfX1dLCJ0YXJn
		ZXRNYXAiOnsiQXBwTW9kdWxlIjp7ImRlcGVuZGVuY2llcyI6W3sicHJvZHVj
		dCI6WyJBc3luY0JsdWV0b290aCIsIkFzeW5jQmx1ZXRvb3RoIixudWxsXX1d
		LCJleGNsdWRlIjpbIlJFQURNRS5tZCIsIkxJQ0VOU0UiXSwibmFtZSI6IkFw
		cE1vZHVsZSIsInBhdGgiOiIuIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3Mi
		OltdLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9fSwidGFyZ2V0cyI6W3siZGVwZW5k
		ZW5jaWVzIjpbeyJwcm9kdWN0IjpbIkFzeW5jQmx1ZXRvb3RoIiwiQXN5bmNC
		bHVldG9vdGgiLG51bGxdfV0sImV4Y2x1ZGUiOlsiUkVBRE1FLm1kIiwiTElD
		RU5TRSJdLCJuYW1lIjoiQXBwTW9kdWxlIiwicGF0aCI6Ii4iLCJyZXNvdXJj
		ZXMiOltdLCJzZXR0aW5ncyI6W10sInR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0
		b29sc1ZlcnNpb24iOnsiX3ZlcnNpb24iOiI1LjYuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		/IfQneRix9PSx8ebHC8LSuWQNeaI3/wMZ/KHqSRBC60=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.6.0-dev</string>
	</dict>
</dict>
</plist>
